# exclude build directories
out/
build/
Makefile

# exclude cache data
.vs/
.vscode/
cmake_install.cmake
CMakeCache.txt
CMakeFiles/
*/.DS_Store
.DS_Store

ext/project_path.hpp
ext/project_path.hpp.in

# exclude executables
# TODO: change for Nova; placeholder from A1 here
tower_defense
nova