# exclude build directories
out/
build/
Makefile
data/retextures/

# exclude cache data
.vs/
.vscode/
cmake_install.cmake
CMakeCache.txt
CMakeFiles/
*/.DS_Store
.DS_Store
ext/project_path.hpp

# exclude python script libraries
scripts/.venv/

# exclude executables
nova